body{
  font-family: times;
  padding: 50px;
}
h1{
  font-family:futura;
}
h2{
  font-family: futura;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
ul{
  list-style-type: none;
}
li{
  padding-right: 50px;
  display: inline;
  color:#000;
  font-size: 18px;
  text-transform: uppercase;;
  font-family: futura;
}
section{
}
section img{
  width:600px;
  padding-left: 100px;
  float:right;
}
p{
  column-count: 2;
  width:800px;
}
footer{
  position: fixed;
  bottom: 25px;
  padding-left: 40%;
}
footer a{
  color: #000;
  text-decoration: none;
  padding-left: 50px;
  font-family: futura;
  font-size: 12px;
  text-transform: uppercase;
}
footer a:link{
}
footer a:visited{
}
footer a:hover{
  text-decoration: underline;
}
