*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(iphone6.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size:900px;
}
main{
  height:667px;
  width:375px;
  border: solid;
	border-color: #fff;
  margin: auto;
  margin-top: 118px;
}
aside{
  height:95%;
  width:95%;
  /*border: solid;
  border-color: #fff;
  margin: auto;
  margin-top: 118px;*/
  background-image: url(loading2.png);
  background-size: 375px;
}

#startInfo{
  font-size: 18px;
  font-family: 'Raleway', san-serif;
  font-weight: 400;
  color: #fff;
  width: 280px;
  margin-left: 50px;
  /*margin-top:380px;*/
  margin-bottom: 60px;
}

.button{
  padding: 15px 30px 15px 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #328c94;
  background-color: #fff;
  font-size: 30px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-left: gray;
  border-top: gray;
}

#title {
	text-transform: uppercase;
	font-size: 35px;
	font-family: 'Covered By Your Grace', cursive;
  width: 375px;
  margin: auto;
  text-align: center;
  border: 2px solid #4cd4e1;
	background-color: #4cd4e1;
  padding: 10px 0px 10px 0px;
  color: #fff;
}
#map{
    height: 545px;
    width: 379px;
    background-color: gray;
    margin: auto;
}
canvas{
  position: relative;
  top:-160px;
  left:-40px;
}
footer{
  position: relative;
  bottom: 141px;
  left:2px;
}
#reportTab{
  padding:25px 46px 5px 46px;
}
#mapTab{
  padding:25px 46px 5px 46px;
  background-color:#328c94;
}
#settingsTab{
  padding:25px 46px 5px 46px;
}
.tabs{
  background-color:#4cd4e1;
}
