*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(iphone6.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 900px;
}
main{
  height:667px;
  width:375px;
  border: solid;
  border-color: #fff;
  margin: auto;
  margin-top: 118px;
}
nav{
  width: 50px;
  height: 50px;
  border:solid;
  border-color: #4cd4e1;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: #4cd4e1;
}
h1{
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Covered By Your Grace', cursive;
  position: relative;
  top: -60px;
  left:80px;
  color: #4cd4e1;
}
section p{
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

#upperInfo{
  margin-top: -20px;
}
.td{
  width: 130px;
  height: 30px;
  border: solid;
  border-radius: 5px;
  border-color: #4cd4e1;
  color: #000;
}
.td p{
  margin-top: 9px;
}
#date{
  position: relative;
  left:40px;
}
#time{
  position: relative;
  left: 195px;
  top: -36px;
}
#location{
  width: 285px;
  position: relative;
  left:40px;
  top:-30px;
}

#categories{
  margin-left: 30px;
  margin-top: -10px;
  color: #fff;
}
.cat{
  width: 85px;
  height: 85px;
  border: solid;
  border-radius: 8px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #4cd4e1;
}
.cat p{
  margin-top: 30px;
  font-weight: 700;
}

.bottom{
  clear: both;
  border: solid;
  border-radius: 5px;
  border-color: #4cd4e1;
}
#write{
  width: 285px;
  height: 60px;
  margin:auto;
}
#write p{
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
#send{
  height: 40px;
  width: 80px;
  margin: auto;
  color: #fff;
  background-color: #4cd4e1;
  position: relative;
  top:10px;
}
#send p{
  margin-top: 12px;
}
