*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(iphone6.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 900px;
}

main{
  height:667px;
  width:375px;
  border: solid;
	border-color: #fff;
  margin: auto;
  margin-top: 118px;
}

/*-----------Loading Page Styles----------*/
aside{
  height:100%;
  width:100%;
  /*border: solid;
  border-color: #fff;
  margin: auto;
  margin-top: 118px;*/
  background-image: url(loading2.png);
  background-size: 375px;
}
#startInfo{
  font-size: 18px;
  font-family: 'Raleway', san-serif;
  font-weight: 400;
  color: #fff;
  width: 280px;
  position: relative;
  left:50px;
  top:400px;
}
.button{
  padding: 15px 30px 15px 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #328c94;
  background-color: #fff;
  font-size: 30px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-left: gray;
  border-top: gray;
  position: relative;
  left:130px;
  top:450px;
}

/*-----------Map Page Styles------------*/
.title {
	text-transform: uppercase;
	font-size: 35px;
	font-family: 'Covered By Your Grace', cursive;
  width: 375px;
  margin: auto;
  text-align: center;
  border: 2px solid #4cd4e1;
	background-color: #4cd4e1;
  padding: 10px 0px 10px 0px;
  color: #fff;
}
#map{
    height: 595px;
    width: 379px;
    background-color: gray;
    position: relative;
}
#myCanvas{
  position: relative;
  top:-315px;
  left:-40px;
}
#myCanvas2{
  position: relative;
  top:-280px;
  left:-40px;
  z-index: 0;
}
/*footer{
  position: relative;
  bottom: 141px;
  left:2px;
}
#reportTab{
  padding:25px 46px 5px 46px;
}
#mapTab{
  padding:25px 46px 5px 46px;
  background-color:#328c94;
}
#settingsTab{
  padding:25px 46px 5px 46px;
}
.tabs{
  background-color:#4cd4e1;
}*/

/*----------Reporting Page Styles-----------*/
#categories {
	margin-left: 60px;
	margin-top: 30px;
}
.button2 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	background-color: #4cd4e1;
	/*#328c94;*/
	width: 85px;
	height: 85px;
	border: solid;
	border-radius: 8px;
	float: left;
	margin-left: 0px;
	margin-bottom: 0px;
}
article {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}
input[type="text"] {
	width: 100px;
	padding: 8px;
	border-radius: 5px;
	border: solid;
	border-color: #4cd4e1;
	font-size: 14px;
	color: #000;
}
#loc[type="text"] {
	width: 230px;
}
#date {
	position: relative;
	left: 60px;
	top: 20px;
}
#time {
	position: relative;
	left: 190px;
	top: -19px;
}
#loc {
	position: relative;
	left: 60px;
	top: -10px;
}
.bottom{
	clear: both;
}
#desc[type="text"] {
	width: 230px;
	height: 20px;
	font-size: 10px;
}
#desc {
	position: relative;
	top: 0px;
	left: 60px;
}
input[type="submit"] {
	padding: 15px;
	border: none;
	border-radius: 3px;
	background-color: #4cd4e1;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.5px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-top: 10px;
	position: relative;
	left: 150px;
	top: 20px;
}
