*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(iphone6.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 900px;
}
main{
  height:667px;
  width:375px;
  border: solid;
	border-color: #fff;
  margin: auto;
  margin-top: 118px;
}
h1 {
	text-transform: uppercase;
	font-size: 35px;
	font-family: 'Covered By Your Grace', cursive;
  width: 375px;
  margin: auto;
  text-align: center;
  border: 2px solid #4cd4e1;
	background-color: #4cd4e1;
  padding: 10px 0px 10px 0px;
  color: #fff;
}

article {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
  margin-top: 30px;
  margin-left: 50px;
  color: #328c94;
}
label{
  margin-top: 30px;
}
input[type="text"] {
	width: 190px;
	padding: 8px;
	border-radius: 5px;
	border: solid;
	border-color: #4cd4e1;
	font-size: 14px;
	color: #000;
  margin-right: 10px;
  margin-bottom: 20px;
}
input{
  width: 250px;
  margin: auto;
  float: left;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #328c94;
  clear: both;
  text-align: left;
  margin-left: 10px;
  font-weight: 400;
}
#buttons{
  margin-top: 20px;
  margin-left: 40px;
}
.button.active {
background-color: #ea0000;
color: #fff;
}
.button {
	font-family: 'Raleway', sans-serif;
	color: #4cd4e1;
	font-size: 14px;
	font-weight: 700;
	border-color: #4cd4e1;
  background-color: #fff;
	/*#328c94;*/
	width: 85px;
	height: 60px;
	border: solid;
	border-radius: 8px;
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
}
input[type="submit"] {
	width: 50px;
	height: 40px;
	font-size: 10px;
	border: none;
	border-radius: 8px;
	background-color: #4cd4e1;
	color: #fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

footer{
  position: relative;
  bottom: -260px;
  left:2px;
}
#reportTab{
  padding:25px 46px 5px 46px;
}
#mapTab{
  padding:25px 46px 5px 46px;
}
#settingsTab{
  padding:25px 46px 5px 46px;
  background-color:#328c94;
}
.tabs{
  background-color:#4cd4e1;
}
