*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(iphone6.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 900px;
}
main{
  height:667px;
  width:375px;
  border: solid;
	border-color: #fff;
  margin: auto;
  margin-top: 118px;
}
h1 {
	text-transform: uppercase;
	font-size: 35px;
	font-family: 'Covered By Your Grace', cursive;
  width: 375px;
  margin: auto;
  text-align: center;
  border: 2px solid #4cd4e1;
	background-color: #4cd4e1;
  padding: 10px 0px 10px 0px;
  color: #fff;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #4cd4e1;
}
#buttons{
  margin-top: 20px;
  margin-left: 20px;
}
button.active {
background-color: #ea0000;
color: #fff;
}
button{
  padding: 15px 15px 15px 15px;
  border-radius: 8px;
  background-color: #4cd4e1;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
footer{
  position: relative;
  bottom: -325px;
  left:2px;
}
#reportTab{
  padding:25px 46px 5px 46px;
}
#mapTab{
  padding:25px 46px 5px 46px;
}
#settingsTab{
  padding:25px 46px 5px 46px;
  background-color:#328c94;
}
.tabs{
  background-color:#4cd4e1;
}
